<!-- Header -->
<header>
  <app-header></app-header> <!-- Aca adentro los compoenetes del login-->
</header>


<!-- Main -->
<main>
  <div class="content" role="main">
    <!-- Aca adentro tiene que ir el componente de los autos -->
  </div>
  
  <!-- Este es el componente para el Login -->
  <!-- <div class="container w-25" >
    <app-login class="container"></app-login>
  </div> -->
</main>

<!-- Router -->
<router-outlet></router-outlet>

<!-- Footer -->
<footer>
    <app-footer class="w-100"></app-footer>
</footer>
  
