<h1 class="text-center my-2">Productos en el carrito</h1>

<div *ngIf="(cartProducts$ | async)?.length === 0; else elseBlock">
  <div class="row mx-5">
    <div class="alert alert-info fw-bold" role="alert">
      <i class="bi bi-info-square"></i>
      No tenés productos en el carrito
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <div class="row mx-5">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Categoría</th>
          <th scope="col">Precio</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let product of (cartProducts$ | async)" class="align-middle">

          <!-- Descripción -->
          <td>
            <div class="row align-items-center">
              <div class="col">
                <img src={{product.img}} class="img-responsive" alt="Producto">
              </div>
              <div class="col">
                <p class="fw-bold ">
                {{product.name}}
                </p>
                <p>
                {{product.description}}
                </p>
              </div>
            </div>
          </td>

          <td>{{product.category}}</td>
          <!-- Precio  -->
          <!-- TODO: ver formato en el precio -->
          <td>${{product.price}}</td>

          <!-- Eliminar -->
          <td>
            <button (click)="removeProduct(product)" type="button" class="btn btn-danger">
              <i class="bi bi-x-circle"></i>
              Eliminar
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <!-- Total del carrito -->
  <div class="row mx-5 justify-content-end">
    <div class="col-8"></div>
    <div class="col-4 align-self-end">
      <div class="card p-0" style="width: 100%;">
        <div class="card-header" style="width: 100%;">
          <i class="bi bi-receipt-cutoff"></i>
          Resumen del carrito
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Productos: {{ (cartProducts$ | async)?.length }}</li>
          <li class="list-group-item">Subtotal(no incluye impuestos): ${{ (cartSubTotal$ | async) }}</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Confirmación del carrito -->
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mx-5 my-5">
    <button class="btn btn-success" type="button">Confirmar compra</button>
    <button class="btn btn-danger" type="button" (click)="clearCart()">Limpiar carrito</button>
  </div>

</ng-template>

