<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card w-75">
        <div class="card-header">
          <h3>LISTADO DE AUTOS</h3>
        </div>
        <div class="card-body">

          <table *ngIf="listaProductos.length > 0" class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Imagen</th>
                <th scope="col">Descripción</th>
                <th scope="col">Clasificación</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of listaProductos">
                <td>{{producto.name}}</td>
                <td>
                  <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="{{producto.img}}" width="60" height="60">
                  </a>
                </td>
                <td>{{producto.description}}</td>
                <td>{{producto.category}}</td>
                <td>{{producto.price}}</td>
                <td>
                  <i class="fas fa-trash text-danger"></i>
                </td>
                <!-- este modal no se sies una buena practica                      -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header bg-dark">

                      </div>
                      <div class="modal-body">
                        <img src="{{producto.img}}" class="img-fluid">
                      </div>
                      <div class="modal-footer bg-dark">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </tr>
            </tbody>
          </table>
          <button routerLink="/crear-producto" type="button" class="btn btn-info text-white float-end">Agregar
            auto</button>
          <h5 style="text-align: start; margin-top: 10px;" *ngIf="listaProductos.length == 0">No hay productos para
            mostrar</h5>
        </div>
      </div>
    </div>
  </div>
</div>