<div class="card h-100">
  <img src="{{product.img}}" class="card-img-top img-fluid" alt="Producto">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">{{product.description}}</p>
    <p class="">{{product.description}}</p>

    <div class="text-center mt-3">
      <button (click)="addToCart(product)" class="btn btn-sm btn-success">
        <i class="bi bi-cart"></i>
        Agregar
      </button>
    </div>
    <div class="text-center mt-3">
    <button class="btn btn-sm btn-primary">
      Ver
    </button>
    </div>
  </div>
</div>
