<div class="row align-items-center justify-content-center mx-0 bg-light vh-100">
    <div class="col-md-7 d-none d-md-block px-0">
        <img src="./assets/img/signup.jpg" class="img-signup" alt="Persona manejando">
    </div>
    <div class="col-md-5 col-sm-12 px-4">

        <div class="text-center">
            <img src="./assets/img/logo.png" alt="Logo carCash">
        </div>

        <h2 class="mt-3 fw-bold">Registro</h2>

        <p class="mt-1">Tu próximo auto a un paso...</p>

        <form>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="bi bi-envelope-fill"></i>
                </span>
                <input type="text" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="input-group mb-3 has-validation">
                <span class="input-group-text">
                    <i class="bi bi-lock-fill"></i>
                </span>
                <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="bi bi-lock-fill"></i>
                </span>
                <input type="password" class="form-control" id="passwordConfirm" placeholder="Confirmar contraseña">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="bi bi-person-vcard-fill"></i>
                </span>
                <input type="text" class="form-control" id="firstName" placeholder="Nombre">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="bi bi-person-vcard-fill"></i>
                </span>
                <input type="text" class="form-control" id="lastName" placeholder="Apellido">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="bi bi-geo-alt-fill"></i>
                </span>
                <input type="text" class="form-control" id="address" placeholder="Dirección">
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Registrarse</button>
            </div>

        </form>
    </div>
</div>