<div class="dropdown">
  <button class="btn btn-dark menu-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="bi bi-list bi-lg text-white custom-icon"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- Menu loggueado -->
    <div *ngIf="!loggedIn; else elseBlock">
      <li><a class="dropdown-item text-dark" routerLink="/ingreso">Iniciar Sesión</a></li>
      <li><a class="dropdown-item text-dark" routerLink="/registro">Registarse</a></li>
      <li><a class="dropdown-item text-dark" routerLink="/validarmail">Validar Email</a></li>
      <hr>
      <li><a class="dropdown-item text-dark" routerLink="/publicaciones">Publicaciones</a></li>
    </div>
    <!-- Menu invitados -->
    <ng-template #elseBlock>
      <li><a class="dropdown-item text-dark" routerLink="/publicaciones">Publicaciones</a></li>
      <li><a class="dropdown-item text-dark" routerLink="/listar-producto">Mis ventas</a></li>
      <li><a class="dropdown-item text-dark" routerLink="/crear-producto">Nueva publicación</a></li>
      <li><button class="dropdown-item text-dark" (click)="logout()">Cerrar sesion</button></li>
    </ng-template>
  </ul>
</div>